%msg_form
  %span
    .form__textfield{ :type => "text" ,:placeholder => "type a message", :style =>"width:calc(100% - 200px);height:50px" }
  %span
    = icon('picture-o')
  %span
    .form__submit{ :type => "submit", :value => "SEND", :style =>"width:70px;height:50px"}
