.chat {
  width: calc(102vw - 300px);
  height: calc(100vh - 30px);
  float: right;
  .chat__title{
    padding: 35px 40px 0px;
    height: 82px;
    .title__info{
      float: left;
      h1{
        font-size: 20px;
        color: #333333;
      }
      p.title__members{
        font-size: 12px;
        color: #999999;
      }
    }
    .title__edit{
      float: right;
      height: 40px;
      padding: 0px 20px;
      margin-top: 28px;
      border: solid;
      border-color: #38AEF0;
      p{
        margin-top: 10px;
        color: #38AEF0;
      }
    }
  }

  .chat__content{
    background-color: #EEEEEE;
    border-style:solid;
    border-color: #DDDDDD;
    .msg{
      padding-top:40px;
      .msg__username{
        margin-right: 10px;
        font-size: 16px;
        font-weight: bold;
        color: #434A54;
        display: inline;
      }
      .msg__time{
        font-size: 12px;
        color: #999999;
        display: inline;
      }
      .msg__passage{
        font-size: 14px;
        color: #434A54;
      }
    }
    .space{
      height: 340px;
    }
    .msg_form{
      width: 100vh;
      background-color: grey;
      .form__textfield{
        padding-left: 10px;
      }
      .form__submit{
        font-size: 16px;
        background-color: #38AEF0;
        border-style: none;
        color: #ffffff;
      }
    }
  }
}
